html,
body {
  padding: 0;
  margin: 0;
  font-family: serif;
  background-color: #141423;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --header-tracking: 0.2em;
  --text-tracking: 0.1em;
  --color-primay: #df38ed;
  --color-secondary: #121222;
  --color-warning: yellow;
  --color-danger: red;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../public/background.png);
  background-size: cover;
}
