.header {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* maybe make 250 for 1440p */
  margin: 175px 0;
}

.main {
  display: flex;
  flex-direction: column;
}

.main > section {
  margin-bottom: 100px;
}

.sub-header {
  /* font-size: 2.67vw; */
  /* font-size: 2.67em; */
  /* font-size: 43px; */
  /* font-size: 2.6667em; */
  /* font-size: 3vw; */
  letter-spacing: var(--text-tracking);
  margin-bottom: 0;
  color: white;
  text-shadow: 0px 4px 10px black;
}

.title {
  /* font-size: 10vw; */
  /* font-size: 12.5rem; */
  letter-spacing: var(--header-tracking);
  font-weight: bold;
  margin: 0;
  color: white;
  text-shadow: 0px 20px 20px rgba(0, 0, 0, 0.75);
}

.button {
  /* font-size: 18px; */
  letter-spacing: var(--text-tracking);
  width: 285px;
  height: 70px;
  background: rgb(237, 56, 209);
  background: linear-gradient(
    180deg,
    rgba(237, 56, 209, 1) 0%,
    rgba(133, 56, 237, 1) 100%
  );
  color: white;
  border-radius: 43px;
  border: 0px;
}
